<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header" />
<body>
<div class="container" th:object="${username}">
    <div th:replace="fragments/bodyHeader :: bodyHeader" />
    <div>
        <img th:src="|https://ghchart.rshah.org/219138/${members[0].githubInfo.userGithubId}|" alt="">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>이름</th>
                <th>commit 수</th>

            </tr>
            </thead>
            <tbody>
            <tr th:each="member : ${members}">
                <td th:text="${member.name}"></td>
                <td th:text="${member.githubInfo.commitCount}"></td>

            </tr>
            </tbody>
        </table>
    </div>
    <div th:replace="fragments/footer :: footer" />
</div> <!-- /container -->
</body>
</html>