<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header" />
<body>
<div class="container" th:object="${username}">
    <div th:replace="fragments/bodyHeader :: bodyHeader(${username})" />
    <div>
        <div class="form-group">
        </div>
        <table class="table table-striped">
            <tbody th:each="structure : ${structureList}">
            <tr>
                <td>알고리즘 종류</td>
            </tr>
            <tr th:if="${userRole.equals('ROLE_ADMIN')}">
                <td>
                    <a th:href="@{'modify/dataStructure/'+${structure.name}}" th:text="${structure.name}"></a>
                </td>
            </tr>
            <tr>
                <td th:unless="${userRole.equals('ROLE_ADMIN')}" th:text="${structure.name}"></td>
            </tr>
            <tr>
                <td>알고리즘 설명</td>
            </tr>
            <tr>
                <td th:text="${structure.detail}"></td>
            </tr>
            <tr>
                <td>알고리즘 구현코드</td>
            </tr>
            <tr>
                <td>
                    <pre>
                        <code th:text="${structure.javaCode}"></code>
                    </pre>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div th:replace="fragments/footer :: footer" />
</div> <!-- /container -->
</body>
</html>