<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<div class="header" th:fragment="bodyHeader">
  <div class="container" style=" display : flex; justify-content: space-between">
    <span><a href="/">Home</a></span>
    <span sec:authorize="isAuthenticated()">
    <span sec:authentication="name">이름</span>
    <span><button type="submit" class="btn btn-primary" onclick="location.href='/logout'">로그아웃</button></span>
    </span>
  </div>
  </div>
</html>